ul#nav {
	background-color: black;
	position: -webkit-sticky;
	position: sticky;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	top: 0px;
	width: 100%;
}

li#tab {
	float: left;
	width: 250px;
	height: 50px;
	padding: 0;
}

li#tab:hover {
	background-color: lightgrey;
}

li#tab a {
	color: white;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 12px 5px;
	font-size: 24px;
}

li#tab:hover a {
	color: black;
}

#header {
	background-color: white;
	text-align: center;
	font-size: 32px;
	margin-left: auto;
	margin-right: auto;
}

div.page {
	background-color: lightgrey;
	position: static;
  	top: 150px; 
  	white-space: normal;
	margin: auto;
	width: 75%;
	height: 100vh;
	padding: 15px;
	line-height: 1.6;
}

#content {
	display: flex;
	line-height: 1.8;
	padding: 15px;
}

a.name {
	text-decoration: none;
	color: black;
}

p.default {
	line-height: 5;
	padding: 10px;
	font: 16px Times, serif
}

p.head {
	text-align: center;
	font: 32px Times, serif
}

img.about {
    width: 15%;
    height: 15%;
    border: 3px solid black;
}